[2014-10-22 13:37] rsanting opened #1 "Plugin not working with the "Add Attachment" option enabled."
When you use the callback plugin with the option Add Attachment enabled it raises an exception. See http://pastebin.com/CG4eXRk6.

I already found out which property is null. See https://github.com/Graylog2/graylog2-alarmcallback-slack/blob/master/src/main/java/org/graylog2/alarmcallbacks/slack/SlackClient.java#L158.
Removing the highlighted line fixes the issue but of course there is the issue of

[2014-10-22 13:58] rsanting opened #2 "Links in the message aren't clickable in slack."
Due to the parse method being 'full' instead of 'none' links aren't clickable in slack. Changing it fixes the issue and doesn't seem to change any other functionality.

See https://github.com/Graylog2/graylog2-alarmcallback-slack/blob/master/src/main/java/org/graylog2/alarmcallbacks/slack/SlackClient.java#L140

[2014-10-24 12:49] #1 closed, assigned to nobody

[2014-10-24 13:39] #2 closed, assigned to nobody

[2015-10-09 10:51] favadi opened #6 "Wrong plugin directory location for .deb"
graylag-server plugin directory is located at `/usr/share/graylog-server/plugin` but [graylog-plugin-slack .deb package](https://github.com/Graylog2/graylog-plugin-slack/releases/download/1.1.5/graylog-plugin-slack-1.1.5.deb) installed the .jar file at `/usr/share/graylog2-server/plugin/graylog-plugin-slack-1.1.5.jar`. Therefore, slack alarm callback doesn't show up in grayling web interface.

[2015-10-10 17:04] bernd commented on #6
Thank you for the report!

[2015-10-10 17:04] #6 closed

[2015-10-12 04:04] bclermont opened #7 "Stream should be linked"
If a stream alert ends in slack, for users to go back to Graylog and browse it, they need to note the ID, logs into Graylog and figure what is the stream and look at it.

<img width="328" alt="screen shot 2015-10-12 at 12 05 19" src="https://cloud.githubusercontent.com/assets/474302/10421362/9356ae22-70d9-11e5-9821-5118439acf8f.png">

Can stream ID be an ``<a>`` back to it?

[2015-10-12 08:04] verschoof opened #8 "Feature Request: Color"
Hi,

I send an alert with slack and I would like to determine the color by my self, now I see a green border while its a critical error.

https://api.slack.com/docs/attachments (scroll down to **Color**)

I would like to make a PR but unfortunately I'm not known with Java.
So I would like to have a possibility to get a new field: Color

[2015-10-15 21:48] stepkirk opened #9 "Feature Request: Show messages that caused alert in Slack"
Thanks for building this plugin.  Very useful.

I have configured the stream alert in Graylog as follows: Alert is triggered when there are more than 3 messages in the last minute. Grace period: 30 minutes. Including last 3 messages in alert notification.

When the alert triggers, I get a message in Slack but it does not include any of the messages that triggered the alert.  That means we need to

[2015-10-15 23:54] joshbeard commented on #9
This should also support truncating, ideally via a configurable amount.  E.g. my Tomcat messages have the potential to span many lines, and I wouldn't want all those in a Slack message.

[2015-11-02 16:28] mschmidt-healthx opened #10 "Templated messages"
It would be awesome if the slack callback supported templates for the message content like the email callback does, so users could build their own message however they want.

[2015-11-04 22:13] evanccnyc opened #11 "Message couldn't be successfully sent. Reason: invalid_auth"
Hey there,

I am using 1.1.6 installed via a deb file and no matter what I always receive "Message couldn't be successfully sent. Reason: invalid_auth".

I know my token is right because I tested it with ansible and it sent the message properly.  Any idea whats going on here?

[2015-11-04 22:29] joschi commented on #11
Please create another token as described at https://github.com/Graylog2/graylog-plugin-slack#usage and try again.

If something went wrong, you should find details about the error in the logs of your Graylog server node (search for `SlackClient`).

[2015-11-04 22:34] evanccnyc commented on #11
That worked. Thanks and sorry for the spam.

[2015-11-04 22:34] #11 closed

[2015-11-06 21:22] lennartkoopmann commented on #8
Thank you! Scheduled for v1.2

[2015-11-06 21:23] lennartkoopmann commented on #9
Thank you! Scheduled for v1.3.

[2015-11-06 21:25] lennartkoopmann opened #12 "Use Incoming Webhook token instead of personal token"
Right now we instruct the user to use the personal API token. See if we can use an incoming webhook token instead.

[2015-11-07 03:39] lennartkoopmann opened #13 "Include MessageOutput plugin"
Include a MessageOutput plugin in this module.

[2015-11-07 04:44] #8 closed

[2015-11-07 04:44] #12 closed

[2015-11-07 18:01] lennartkoopmann commented on #7
Thank you! Done a little bit differently (Linked stream title in headline) in 883300da7fa6935d0628412b2b63f88bc6a818db. Will be released soon.

[2015-11-07 18:01] #7 closed

[2015-11-07 20:14] lennartkoopmann opened #14 "Config option to post to a user"
It might make sense to allow the callback to send a direct message to a user instead of a channel.

[2015-11-07 20:59] #13 closed

[2015-11-08 03:36] lennartkoopmann commented on #14
51afd27

[2015-11-08 03:36] #14 closed

[2015-11-13 01:02] lucas-bremond commented on #10
+1

Thanks for this amazing plug-in. Templating would indeed be awesome.

[2015-11-13 18:59] stepkirk commented on #9
Thanks for the updated Slack plugin V2.01 this week Lennart.

Installed it this morning and redid the callback as instructed in the README.

When I trigger an alert, I get the alert in Slack but I don't see the message that triggered the alert.  Should that be in the Slack message?  Do I need to do anything to enable that?

Thanks again for your work on this.

Steve.

[2015-11-21 01:12] infernix commented on #9
Yes, please add the ability to add backlogged messages in the alert stream attachment

[2015-12-07 19:31] infernix opened #15 "Output sends messages with wrong Stream name"
I've created a single Slack output that sends data with attachment to a single channel. I've mapped multiple streams to this same output. Whenever streams generate a message, the message in Slack frequently contains the wrong stream name.

For example, stream A generates a message, but in Slack the message is: "New message in Graylog stream B*.

It's rather inconsistent and I haven't figured out w

[2016-01-10 23:29] AndyWTBlueHair opened #16 "Private channel Support"
The plugin will 500 when attempting to use a private channel with an error requiring either # or @

This is likely fixed in the SlackPluginBase.java around line 96 to simply remove the requirement, but my java is not good enough to pretend like I know for sure how it'll all tie together.

[2016-01-15 15:18] versfelm opened #17 "Feature Request:Slack alarm callback via http proxy"
Could not send message to Slack.
Graylogservers are behind a http proxy server.

[2016-02-02 23:46] stepkirk commented on #9
Never mind.  I missed this configuration step when I originally set this up:

The same applies for message outputs which you can configure in Stream - > Manage Outputs.

Once you setup an Output for sending messages to Slack, the alert will include the message(s) that caused the alert.

Woo hoo!

[2016-02-02 23:46] #9 closed

[2016-02-02 23:46] stepkirk commented on #9
Never mind.  I missed this configuration step when I originally set this up:

The same applies for message outputs which you can configure in Stream - > Manage Outputs.

Once you setup an Output for sending messages to Slack, the alert will include the message(s) that caused the alert.

Woo hoo!

[2016-02-03 11:43] infernix opened #18 "Add backlogged messages in the alert stream attachment"
Since #9 was closed, I'm opening this to keep the backlogged messages on the radar.

Right now there's only two options:
- Send all messages for a given stream to Slack
- Send alerts for new messages to Slack but show no message content

I would like to see an option where some of the backlogged messages in a certain time period are attached to the Slack message. This behaviour would then reproduc

[2016-02-19 11:56] aberrios85 commented on #18
Also seeing this. See example:

[code]

[2016-03-28 15:08] HrothgarWrecker commented on #10
+1

[2016-03-31 12:57] PatrickHuetter commented on #18
+1 for that feature!

[2016-04-18 19:49] madchap opened #19 "Mattermost compatibility"
Hi,

Not really an "issue", but I don't think this is so far from working with Mattermost as well. Do you think it'd be possible to somehow have a version that satisfies both?

Thanks!
Best,
fred

[2016-04-19 08:09] joschi commented on #19
@madchap If someone provided a pull request to make this plugin compatible with other Slack clones, we'd certainly be willing to merge it.

[2016-05-10 18:16] murrant opened #20 "More granular message format"
I would like just source and message in slack message.

The best way to implement this would be a template system like this example:
```{source}: {message}```

[2016-05-11 07:00] joschi commented on #20
Duplicate of #10.

[2016-05-11 07:00] #20 closed

[2016-05-15 19:06] bubo77 opened #21 "ssl cert path issue"
Hi,

I am trying to setup slack notification.
My graylog and graylog api is setup with SSL.
Not sure which certificate is this complaining about

[code]

[2016-05-16 08:23] bubo77 commented on #21
I've resolved it by importing slack SSL cert and CA cert to java keystore. You might want to include that in your install notes.
The other thing is that interface says username is optional but you get this error if it is not defined:
``` org.graylog2.plugin.alarms.callbacks.AlarmCallbackConfigurationException: Configuration error. user_name is mandatory and must not be empty. ```

[2016-05-17 19:58] JakeDEvans opened #22 "Rocketchat Compatibility\"

[2016-05-17 20:07] #22 closed

[2016-05-20 14:41] dramones-his opened #23 "installed plugin but options"
I installed the plugin according to the directions but it is not working, option to pick on system > outputs or stream manage alerts.

[2016-05-20 15:34] joschi commented on #23
@dramones-his Do you see a message that the plugin has been loaded when starting Graylog?
Which version of Graylog and which version of the plugin are you using?

[2016-05-24 10:15] dramones-his commented on #23
@joschi I'm not sure where I can view the messages that it was loaded?

GL Version 1.3.4
Plugin 2.1.0

[2016-05-24 10:20] joschi commented on #23
@dramones-his Graylog is logging the loaded plugins on startup, so check the logs of your Graylog server(s) (e. g. `/var/log/graylog/*`).

[2016-05-24 10:39] dramones-his commented on #23
@joschi if I'm running a cluster, does it need to be on every node or just the one running the master server?

here is my log output from restarting the graylog-server

`root@gl-db-prod01:/var/log/graylog/server# cat current
2016-05-24_10:33:51.97813 It looks like you are trying to access MongoDB over HTTP on the native driver port.
2016-05-24_10:33:52.37666 Java HotSpot(TM) 64-Bit Server VM warni

[2016-05-24 11:08] #23 closed

[2016-05-31 16:10] EliotBerriot commented on #19
I'd be glad to see this happen, since alerts fail on mattermost (despite the fact most slack plugins work out of the box with mattermost).

For the record, mattermost return this kind of errors:

     {"id":"web.incoming_webhook.parse.app_error","message":"Unable to parse incoming data","detailed_error":"","request_id":"uh78or6tjpf5uk7m3wgn7hraza","status_code":500,"is_oauth":false}

The payload s

[2016-06-01 14:29] dennisoelkers commented on #19
Mattermost compatibility was introduced and verified with ef55ffd207d6c7f26449b092b2867d6de2e49446. I've released 2.2.1 of the plugin. Thanks for your help guys!

[2016-06-01 14:29] #19 closed

[2016-06-13 10:03] phlegx opened #24 "Getting 500 Error"
Hi,

I'm trying out the newest version of the graylog slack plugin (`graylog-plugin-slack-2.2.1.jar`) but I do get the following error:

`Could not send message to Slack.`

Digging into the logs I do get:

`Caused by: org.graylog2.plugins.slack.SlackClient$SlackClientException: Unexpected HTTP response status 500`

Not sure what is causing that. The Webhook URL is correct, I even used another Webh

[2016-06-13 10:10] jinmingshao commented on #24
I saw same error when slack disabled my webhook due to rate limit.

[2016-06-13 10:35] phlegx commented on #24
OK yes that could be a cause. In the slack dashboard it states that I'm "approaching the limits",. But there is no erro or warning that I would already have reached it.

Also: wouldn't' then the older webhook simply work? Since I tried the older webhook (which I use for deployment notifications) and it didn't work with that either...

[2016-06-13 11:29] phlegx commented on #24
Hmm but Slack states;

[code]
See: https://api.slack.com/docs/rate-limits

[2016-06-15 18:01] joemsanchez opened #25 "Only a small amount of information shows up in slack message"
I had to rebuild this graylog box.  I've gotten everything back up, except getting the full windows event info in a slack message.  I looked back through my slack history, and I see the older messages which basically dumped the entire event detail in the message.  I've gone over my slack settings and I made sure Include more information(optional) is checked on manage outputs and manage alerts.  It

[2016-06-16 11:39] joemsanchez commented on #25
I apologize I worked on this for a while yesterday, and no luck.  Come into work this morning, and there were a few alerts with the full event detail.  You can just go ahead and delete this as I hang my head in shame.

[2016-06-16 12:23] dennisoelkers commented on #25
@joemsanchez, cut yourself some slack! :) Thank you for using Graylog and getting in touch with us.

[2016-06-16 12:23] #25 closed

[2016-07-12 07:03] anc86 commented on #18
any chance someone will do this soon please ?

[2016-07-29 23:47] robbanp commented on #18
I created a PR for this:
https://github.com/Graylog2/graylog-plugin-slack/pull/26

[2016-08-03 15:20] ken5scal commented on #10
👍

[2016-09-01 13:12] JakeDEvans opened #28 "rocketchat compatibility"
When setting up this hook for rocketchat (uses the slack/mm api) my body is always empty.

Additional info:
https://github.com/RocketChat/Rocket.Chat/issues/2725

[2016-09-07 10:14] sjkeerthi opened #29 "Is this support for graylog 2.1.0"
Is this plugin version will support for the new graylog verion 2.1.0

[2016-09-07 10:15] joschi commented on #29
@sjkeerthi Yes, [version 2.2.1 of this plugin](https://github.com/Graylog2/graylog-plugin-slack/releases/tag/2.2.1) should also work with Graylog 2.1.0.

[2016-09-07 10:15] #29 closed

[2016-09-21 09:38] pauldsmyth opened #31 "Build instructions"
Any chance of some proper build instructions rather than just expecting me to go off and read the entire maven documentation to figure out what to do with this code?

[2016-09-21 09:41] dennisoelkers commented on #31
Build steps are explained here: https://github.com/Graylog2/graylog-plugin-slack#build - if you don't want to build it on your own, you can also just download a release.

[2016-09-21 09:41] #31 closed

[2016-09-21 09:45] pauldsmyth commented on #31
Those instructions look dangerously like I'm going to write something to a repository:
"This sets the version numbers, creates a tag and pushes to GitHub. TravisCI will build the release artifacts and upload to GitHub automatically."

What release? All I see is a src directory?

[2016-09-21 09:47] jalogisch commented on #31
![graylog2_graylog-plugin-slack__graylog_alarm_callback_for_slack](https://cloud.githubusercontent.com/assets/404238/18706169/33db6b36-7ff1-11e6-9aa7-006693dbef60.png)

[2016-09-21 09:48] dennisoelkers commented on #31
It says: `You can build a plugin (JAR) with mvn package.` - What more information do you need?

[2016-10-31 11:14] joschi commented on #18
Fixed by merging #26.

[2016-10-31 11:14] #18 closed

[2016-10-31 11:20] joschi commented on #16
@AndyWTBlueHair Please try out the latest version of this plugin.

I'll close this issue, but feel free to add a comment if the problem still exists.

[2016-10-31 11:20] #16 closed

[2016-11-03 04:15] dbinoj commented on #10
:+1:

[2016-11-09 13:30] egobude opened #33 "Not able to send alerts to slack"
Hey,

when in try to send a test message i get the following error message from graylog:

Graylog-Version: Graylog 2.1.1+01d50e5
Slack Plugin Version: 2.2.1:

Any idea what causes the error? Thanks for your help :)

`
Caused by: org.graylog2.plugins.slack.SlackClient$SlackClientException: Unexpected HTTP response status 404
9.11.2016 14:23:13	at org.graylog2.plugins.slack.SlackClient.send(SlackCli

[2016-11-09 13:33] joschi commented on #33
@egobude
We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [public mailing list](https://groups.google.com/forum/#!forum/graylog2) or join the [#graylog channel on freenode IRC](https://webchat.freenode.net/?channels=%23graylog).

Thank you!

[2016-11-09 13:33] #33 closed

[2016-11-16 06:36] sjkeerthi opened #34 "attachment options"
Hi
We have been using grayog to capture the mysql slow query. We have some query which too big It will be great that if we have a feature to attach it as a file instead of passing messages in slack.

[2016-11-21 10:30] joschi commented on #17
Closed by #27

[2016-11-21 10:30] #17 closed

[2016-11-21 12:33] joschi commented on #24
While I couldn't reproduce the described problem, I've added a more verbose logging (including the actual HTTP response body) in case of an unsuccessful request.

[2016-11-21 12:33] #24 closed

[2016-11-21 12:49] joschi commented on #28
@JakeDEvans We currently won't invest too much time into making this plugin compatible to RocketChat.

This being said, a pull request to make this plugin compatible with Slack, Mattermost, and RocketChat would be certainly welcome.

[2016-11-21 12:49] #21 closed

[2016-11-30 21:24] patcable opened #35 "Add context to alerts with custom fields"
I'm looking to add a "See More" link to alerts that fire with custom fields, since that way I could quickly get to the extra information. I'm doing this because the extra information in this case is a stack trace, and makes for a huge message into Slack, but also from a usability standpoint it makes it a bit easier for a dev to click and see what triggered an alert.

Java isn't my first programmin

[2016-12-22 21:12] patcable opened #36 "Slack as Output doesn't seem to work"
I'm trying to output messages directly to slack. When I do, I get the following stacktrace. This is with Graylog 2.1.2+50e449a.

[code]

[2016-12-23 16:30] joschi commented on #36
@patcable The problem seems to be that the `timestamp` field is not a timestamp, but a string in your messages.

[2017-01-09 12:54] jothoma1 commented on #28
I'm interested in this rocketchat compatibility too :+1:  :)

[2017-02-06 20:16] LeDistordu commented on #28
+1

[2017-02-07 10:16] navrocky commented on #28
+1

[2017-02-07 12:30] joschi commented on #28
Sorry, but we don't have the bandwidth to address this problem right now.

It’s definitely a problem, and if someone can provide a fix for it we’ll work with them to get it merged, but none of the regular contributors are going to be able to get to this any time soon.

[2017-02-14 19:04] MrDragon commented on #28
I'm running rocketchat 0.51.0 and it appears to work well. I don't have scripts enabled on the rocketchat web hook.
The only minor thing I had was that my graylog server log had these warnings:
`WARN  [SlackClient] Message couldn't be successfully sent. Response was: {"success":true}`

I fixed that by recompiling the source after making this change to  "SlackClient.java", line 82:
`if (response.eq

[2017-02-14 19:21] JakeDEvans commented on #28
Worked for me!

[2017-02-14 19:21] #28 closed

[2017-02-16 18:03] jothoma1 commented on #28
@JakeDEvans Can you give your configuration? options of the slack plugin into graylog ? i always have errors...

[2017-02-16 18:37] JakeDEvans commented on #28
![image](https://cloud.githubusercontent.com/assets/5014348/23035438/12f9ccca-f44d-11e6-95e0-8b5a020e01cb.png)

`Graylog 2.1.2+50e449a `

Running latest version of the plugin.

[2017-03-03 20:37] NewEvolution opened #40 "Installation fails for Graylog 2.2.2"
Attempted to install the plugin into Graylog 2.2.2.  Copied the .jar into the plugin directory and restarted but the plugin does not appear on the System/Configurations page in the Plugins section.

[2017-03-06 17:49] joschi commented on #40
@NewEvolution Which version of the plugin did you download?
Where exactly did you copy the JAR file?
What's the `journal_dir` setting in your Graylog installation?

[2017-03-06 18:26] boskiv opened #41 "Slack test message fail"
[code]

[code]

But nothing in graylog log output.

I have run graylog thru docker.

[2017-03-06 18:31] joschi commented on #41
@boskiv Which version of this plugin are you using?
Which version of Graylog are you using?
Are there any error messages in the logs of your Graylog container?

[2017-03-06 18:34] boskiv commented on #41
No errors in container
graylog2/server:latest
plugin 2.4.0

[2017-03-06 18:46] joschi commented on #41
@boskiv

There has to be some error message in the logs of your Graylog node. Depending on your configuration, this will be in some log file or on stdout of the container.

[2017-03-06 18:57] boskiv commented on #41
@joschi I have checked files inside container, there is empty folder logs.
[code]
In stdout i see
[code]

[2017-03-06 19:01] boskiv commented on #41
Actually thats all gray log from start:
https://gist.github.com/boskiv/6c0b1ceadbd2b6a720652059d60ba3ab

May be I need to increase verbosity ?

[2017-03-06 19:20] joschi commented on #41
@boskiv What software are you trying to use this plugin with and which version? I guess it's not Slack…

[2017-03-06 19:31] boskiv commented on #41
@joschi I'm realy sorry, i have mistake in channel name to send in. I have stay with default one `#channel` cause webhook was created to specific one.
Now all works fine. Thank you for you help!

[2017-03-06 19:31] #41 closed

[2017-03-06 19:52] joschi commented on #41
@boskiv No worries. Thanks for your feedback!

[2017-03-06 20:45] NewEvolution commented on #40
Downloaded graylog-plugin-slack-2.4.0.jar
JAR was copied to `/usr/share/graylog-server/plugin`
Setting in the running `server.conf` is `plugin_dir = /usr/share/graylog-server/plugin`

[2017-03-06 20:54] NewEvolution commented on #40
Welp, figured it out when going back through the steps and noticing the jar was smaller than expected.

Used `curl` to pull the jar down directly on my Graylog server, actually just pulled down the "You are being redirected" page. 😬

Pulled down the jar via browser and scp'd it over, installed and working properly. 👍

[2017-03-06 20:54] #40 closed

[2017-03-06 21:59] NewEvolution opened #42 "Sending test alert notification failed with message: Could not send message to Slack."
I'm receiving an error toast in Graylog stating "Sending test alert notification failed with message: Could not send message to Slack." when clicking the test button on a Slack notification.

Using curl to post JSON to the Slack webhook URL used in the plugin works as expected.

Tailing graylog's `server.log` shows no output whatsoever happening when the button is clicked and the toast appears.

A

[2017-03-06 22:22] NewEvolution commented on #42
Switched output to another channel and it started working. 👻

[2017-03-06 22:22] #42 closed

[2017-03-07 08:15] joschi commented on #40
FWIW, you can use curl's `-L` (`--location`) parameter to follow redirects.

[2017-05-14 08:28] nhproject opened #45 ""Notify Channel" problem and custom fields"
Hi,

I installed the new plugin version (2.4.0), I work with the newest Graylog version as well.

1. I'm creating many alerts and use the Slack as my alerts callback, but I noticed that when I check the "Notify Channel" option, then the  alert sent does not contain the bold title ("*Alert for Graylog stream STREAM*") and the condition's description underneath. When this option is not checked - it

[2017-05-16 11:57] Minkiu opened #46 "Plugin is loaded but it doesn show in Configuration page."
Hello,

it's the exact same problem that in this thread: https://github.com/graylog-labs/graylog-plugin-threatintel/issues/1

But with the Slack plugin,  I installed the 2.4.0 (https://github.com/graylog-labs/graylog-plugin-slack/releases/download/2.4.0/graylog-plugin-slack-2.4.0.jar) through wget into the plugin folder,

it is recognized and loaded, yet I can't configure it.

`2017-05-16_11:38:08

[2017-05-16 12:04] joschi commented on #46
@Minkiu This plugin doesn't provide any system configuration (available on the *System* / *Configurations* page).

We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [discussion forum](https://community.graylog.org/) or join the [#graylog channel on freenode IRC](https://webchat.freenode.net/?channels=%23graylog).

Thank yo

[2017-05-16 12:04] #46 closed

[2017-05-16 19:22] kowsari opened #47 "Messages on Slack just show Backlog items (x) but (no message) as the content."
Hi
Thanks for this useful plugin. However I have a problem in that when errors are generated I see a message on slack that shows x number of backlog items but doesnt show the actual messages. It shows them as (no message).
I realize that this might be a misconfiguration in alert configruration or notification options, but any help is appreciated.

Thanks

[2017-06-01 18:50] SotirisBK commented on #10
+1

[2017-06-01 18:53] SotirisBK commented on #45
I hope I am not hijacking, but I have a relevant issue.
I tried also to add some of my fields to custom field but did not see them in message.
It would be ideal if I could have the permalink as well in the message

[2017-06-01 20:49] jskrns opened #48 "Stream output color definition not working"
Changed the default but has no effect in Slack

[2017-06-01 20:54] jskrns commented on #48
Ignore, seems to be working now!

[2017-06-01 20:54] #48 closed

[2017-07-01 12:27] k1-hedayati commented on #36
I had same issue, fixed `timestamp` and now it is working

[2017-07-01 13:08] joschi commented on #36
I'm closing this issue since the original author didn't reply within 6 months.

[2017-07-01 13:08] #36 closed

[2017-07-12 01:19] Aenima4six2 commented on #10
I'll take this.

[2017-07-16 13:30] Aenima4six2 commented on #10
PR out -> https://github.com/graylog-labs/graylog-plugin-slack/pull/50

[2017-07-28 17:30] alexnikitchuk commented on #15
Same issue

[2017-08-14 17:22] gprivitera opened #53 "Request: error resolved message"
Hi, I'm currently using the plugin successfully but a quite important feature (for us, and maybe others) is missing.
We are correctly receiving an error in Slack when a threshold of errors is reached, but it would be cool to have a "green" notification in case the problem is solved.
Is that on the road map?

Thanks

[2017-08-18 09:31] svnk opened #54 "URLs are not URL-encoded breaking the markdown rendering in Mattermost"
We use the plugin in mattermost and have messages like this:

<pre>
*New message in Graylog stream [Foo Exceptions]
(https://graylog/streams/58311e2b2ab79c080136c1d9/messages?q=*&rangetype=relative&relative=3600)*:
</pre>

the star (*) in q=* is seen as ending the italic section leaving the message rendered as

*New message in Graylog stream [Foo Exceptions](https://graylog/streams/58311e2b2ab79c0

[2017-08-21 09:38] kieulam141 opened #55 "Is this support for graylog 2.3?"
Hi guys,
I recently updated our graylog cluster to version 2.3.But when I install this plugin and restart graylog server, It failed because of this unsupported plugin.
Is there any update for this version?

[2017-08-25 01:51] Aenima4six2 commented on #55
I forked the plugin and added templated logging messages. It works with 2.3. Ill post up shortly.

[2017-08-26 02:42] kieulam141 commented on #55
Thanks Aenima4six2 !

[2017-08-30 19:16] navya-uppalapati commented on #28
Hi,
I want to send the graylog messages to rocketchat. I have configured the graylog in the similar way with slack plugin but it says "cannot send message to slack". what could be the error?
does rocket chat need to have a secure ssl connection?
Graylog version - 2.3
Rocket chat - 0.57.2

I tried sending it slack to figured out and messages are successfully sent to slack.
Waiting for your response

[2017-08-31 08:36] joschi commented on #28
@navrocky What's in the logs of your Graylog node when trying to send a message to Rocket.Chat?

[2017-08-31 09:32] navya-uppalapati commented on #28
Thank you for responding :)
It is like this ..

ERROR [OutputBufferProcessor] Error in output [class org.graylog2.plugins.slack.output.SlackMessageOutput].
java.lang.RuntimeException: Could not send message to Slack.
        at org.graylog2.plugins.slack.output.SlackMessageOutput.write(SlackMessageOutput.java:91) ~[?:?]
        at org.graylog2.buffers.processors.OutputBufferProcessor$1.run(OutputB

[2017-08-31 09:34] joschi commented on #28
@navrocky

Make sure that the URL in your plugin configuration is correct.

We are using GitHub issues for tracking bugs in Graylog itself, but this doesn't look like one. Please post this issue to our [discussion forum](https://community.graylog.org/) or join the [#graylog channel on freenode IRC](https://webchat.freenode.net/?channels=%23graylog).

Thank you!

[2017-09-15 12:03] derFunk commented on #47
Same for me - I don't see the log entry which caused the alert, only the previous X lines are shown in Slack.

[2017-09-15 16:25] derFunk opened #56 "I don't see the actual message which caused an alert in Slack"
**This is my alert condition:**
`Configuration: Alert is triggered when the field level has a higher max value than 499 in the last minute. Grace period: 0 minutes. Including last 5 messages in alert notification. Configured to repeat notifications.`

**These are my notification settings:**
[code]

**This is the log message with `level: 500` I want to see in Slack:**
![image](https://user-images.g

[2017-09-15 18:00] derFunk commented on #56
I found a solution by just setting Alerts on streams which dedicatedly only log errors.
Then I'm getting the current line, obviously because there's not happening a lot inside stream.

I'm not sure if this is by design or a bug, but it seems like when I use a stream with a lot of messages, the backlog message filter is not correctly set to the time where the log message occured which triggered the

[2017-09-22 08:25] kieulam141 commented on #55
Hi Aenima4six2, have you post up?

[2017-09-22 12:21] Aenima4six2 commented on #55
yep, https://github.com/Aenima4six2/graylog-plugin-slack-fork

[2017-09-23 20:09] #10 closed

[2017-09-23 20:10] Aenima4six2 commented on #34
Can you post a sample? I'll see what we can do.

[2017-09-23 20:11] Aenima4six2 commented on #55
@kieulam141 I'm taking over this repo and merged all my changes up. Let me know if your issue still exists.

[2017-09-23 20:23] Aenima4six2 commented on #35
@patcable There is a PR out now to add a link to the current message. The goal will be to create a first class template property (link) that you can add to the messages. Let me know if this is what you are looking for.

[2017-09-23 20:31] Aenima4six2 commented on #45
Please try using custom fields with the new template message feature and report back. If the problem persists, I'll personally look into the issue.

[2017-09-23 20:31] #45 closed

[2017-09-24 07:38] #55 closed

[2017-09-24 07:38] kieulam141 commented on #55
Hi Aenima4six2,
It works.Thank u very much.

[2017-11-22 02:12] #34 closed

[2017-11-22 02:13] Aenima4six2 commented on #54
I'll take a look at this.

[2017-11-22 02:14] #47 closed

[2017-11-22 02:14] #53 closed

[2017-11-22 02:15] Aenima4six2 commented on #56
@derFunk Can you confirm this issue is happening in the latest release please?

[2017-11-22 19:36] derFunk commented on #56
Yep, but I'll need some time to put my hands back on it, I'll report back as soon as I have a result. Thanks!

[2017-11-29 19:24] towolf commented on #54
Actually, with https://github.com/graylog-labs/graylog-plugin-slack/pull/60 in, the asterisk should be gone.

Not that this means, that this Issue is not relevant. But the newest build should work around it.

[2017-11-29 21:32] bronius commented on #48
Did the color just start working for you out of the blue?  Also, is the custom color applied when you send a dummy message by clicking Test?  (Color is not working for me in either live messages or dummy Test messages)

[2017-11-29 21:47] bronius opened #62 "Context help in Alert Configuration UI under Custom Message box references old documentation"
When configuring a new or editing existing Alert Configuration, the help text under the Custom Message refers to an older (1.3) version of Graylog but should refer to 2.3 (and under a different section in docs at that). See:
![graylog alert link to docs](https://user-images.githubusercontent.com/2348390/33400557-1e95ec66-d51c-11e7-93cb-5d9049a55155.jpg)

In:
https://github.com/graylog-labs/graylog

[2017-11-29 21:58] jskrns commented on #48
Yes, out of the blue. I wish I could remember more but don't recall doing anything differently. I'm not sure how to do Test messages so can't speak to that.

[2017-11-29 22:26] towolf commented on #54
Ah, scratch that, there are two links in the message, and the second one is still broken.

[2017-12-05 08:42] towolf commented on #54
Please merge PR #63 @Aenima4six2, tested here successfully

[2017-12-07 10:59] vady112 opened #64 "Slack Integration issue"
Hi I need help!! Installed and configured graylog server successfully, I am trying to set slack notification using the plugin [https://github.com/graylog-labs/graylog-plugin-slack](https://github.com/graylog-labs/graylog-plugin-slack),
But after configuring when I hit test I get 500. Here are the console log
[code]

greylogserver version: Graylog 2.3.2
Plugin: version # [3.0.0](https://github.com/

[2017-12-07 13:36] Aenima4six2 commented on #64
Your screen shot shows a webhook URI of https://hooks.slack.com/servicess/xxx. This obviously isn't correct. Did you redact the full URI or is this a typo ?

Also, something in your graylog config appears incorrect. The 500 is coming from a POST to "http://example.gralog.org/api/alerts/callbacks/5a27efd37d3c06654a23430c/test". Seems like something is trying to hit your Graylog API but is going to

[2017-12-07 13:37] #54 closed

[2017-12-07 13:38] #35 closed

[2017-12-07 13:39] Aenima4six2 commented on #56
Awesome, thanks @derFunk . Please reopen the issue if you are able to reproduce in the latest version.

[2017-12-07 13:39] #56 closed

[2017-12-07 13:55] Aenima4six2 commented on #62
Good catch. All fixed in 3.0.1

[2017-12-07 13:55] #62 closed

[2017-12-08 08:28] vady112 commented on #64
Hi, Thank you for reply. I changed the URI of slack webhook as well as the organisation URI for posting  in real log instead of  example.graylog.org its myorganisationname.com.

Regards,

Vady

[2017-12-19 14:13] JakubDziworski opened #67 "Custom fields"
Using custom message how can I select custom fields? Suppose I want to display only `full_message` . I checked `Message` class (https://github.com/Graylog2/graylog2-server/blob/master/graylog2-server/src/main/java/org/graylog2/plugin/Message.java) and it has `getField` method so you could theoretically use `message.getField("full_message")` but I guess the `jmte` templating engine does not allow m

[2017-12-19 14:21] #67 closed

[2017-12-19 14:22] JakubDziworski commented on #67
My bad. It's described here: http://docs.graylog.org/en/2.3/pages/streams/alerts.html#email-alert-notification. You can use `message.fields.full_message`

[2018-01-05 18:08] phlod opened #68 "Color field doesn't appear to change color of anything."
Changing the color field in the Slack Alert window doesn't appear to actually change anything.  Doesn't matter if I use 'good', 'danger', or hex codes.

Even in the screenshot on this GitHub page you can see that the Color field is set to #FF0000 -- which is red, but the (short) bar on the left side is grey.

[2018-01-10 14:59] davidmaitland commented on #46
@joschi the problem with this is that readme isn't very clear on how to use this plugin in the first place. Especially as someone who is new Greylog (which was super easy to get setup and working), but it 5x as long to figure out how to use this plugin after it was installed, having to look through logs to check it was even being loaded by Greylog and then finding issues like this.

The [usage](ht

[2018-01-17 15:20] AFAde opened #69 "Icon URL not working"
Hi,
I set the icon url but the image (a jpg file) does not show in the message.

Thx

[2018-01-18 10:23] phlegx commented on #28
Looks like newest version `3.0.1` does not send the additional lines anymore to Rocketchat. Also the stream link is not correct.

Would be nice if RocketChat could be officially supported!

[2018-02-13 06:49] rolfwessels opened #70 "How to enable "Short mode"?"
From the code it seems that the configuration should have a boolean option to enable short mode but I can't seem to find it.

Could you please add some documentation about adding short mode?

Thanks

[2018-02-13 13:13] Aenima4six2 commented on #70
Short mode is only available for [outputs](http://docs.graylog.org/en/2.4/pages/streams.html#outputs).

[2018-02-13 13:13] #70 closed

[2018-02-13 14:08] rolfwessels commented on #70
Thanks.

For anyone who wants only a very minimal backlog. The following template will do that
[code]

[2018-02-22 12:00] BrainsRage opened #71 "Field "Custom message" not worked"
Hi, we have a problem.
With your plugin v2.4 we has beautiful messages like
![image](https://user-images.githubusercontent.com/7159616/36536657-9899e68c-17ef-11e8-9f9a-1134879a4bcf.png)
But when we upgrade version to 3.0.1 message began to look so
![image](https://user-images.githubusercontent.com/7159616/36536759-e67a5a3a-17ef-11e8-92b8-83a920e9430f.png)
We tryed to change "custom message" field

[2018-02-22 13:17] Aenima4six2 commented on #71
@BrainsRage, we need more information to help diagnose your issue. Please include the following:

1. Graylog Version
1. Notification configuration (including your custom message)

[2018-02-22 16:42] phlod commented on #68
I see now.  In fact, the option to send alerts as Attachments was removed, and basic Slack messages don't support a color field, or pretty much any extra formatting fields.
Please add back the option to send alerts with Attachments.  I'm fine with crafting my own Slack messages in the Custom Message box, but not having the option at all has made my alert channels much harder to read.

[2018-02-22 19:17] BrainsRage commented on #71
1. Graylog 2.4.3+2c41897
2.
![image](https://user-images.githubusercontent.com/7159616/36558934-707ed786-182e-11e8-8296-88b841367dc6.png)
[code]

[2018-02-23 13:12] Aenima4six2 commented on #71
@BrainsRage , can you send a test message from Graylog and report back what shows up in your slack channel please?

[2018-02-23 13:14] Aenima4six2 commented on #68
Can you send a before and after example please? Also, you should be able to use Slack's markdown like formatting.

[2018-02-23 17:26] phlod commented on #68
Before:
![graylog attachment redacted](https://user-images.githubusercontent.com/8670840/36606460-64b5d250-1889-11e8-96e2-3226a4b1fae3.jpg)

As I hope you can see in the picture, StreamID, Stream Title, etc. were formatted like titles, with the data underneath, and a red bar running down the length of the left side.

After: Well, after it's just a big mess of text.  I'm not going to screenshot it

[2018-02-26 07:00] BrainsRage commented on #71
Yes.
![image](https://user-images.githubusercontent.com/7159616/36656997-8f2821e0-1aec-11e8-8c0b-65a37bb67bcc.png)

[2018-02-27 11:02] derFunk commented on #71
Same issue here. The `custom_message` field for *Outputs* is not used. It's used for *Alerts* though.
- `Graylog 2.4.3+2c41897`
- `graylog-plugin-slack-3.0.1.jar`

[2018-03-16 04:57] SonicGD commented on #71
Hi, any news on this? We have the same problem

[2018-03-20 21:33] Aenima4six2 commented on #71
@SonicGD I'm cutting a branch for this as we speak.

[2018-03-21 13:30] Aenima4six2 commented on #68
@phlod You are not missing anything. Slack does not support adding color to anything but attachments. I am in the process of adding back the Attachment option to Outputs and will convert "Custom Messages" to attachments that support the color option.

[2018-03-21 13:30] #68 closed

[2018-03-22 00:54] Aenima4six2 commented on #64
@vady112 This looks like a configuration issue on your end. Were you able to resolve the issue?

[2018-03-22 00:55] Aenima4six2 commented on #69
I have an open branch and I will investigate this issue this week.

[2018-03-23 12:28] Aenima4six2 opened #73 "Use jinja2 template engine"
Feature to change out the jmte engine with jinja2.

[2018-03-23 12:53] Aenima4six2 commented on #71
Issue fixed in 3.1.0.

[2018-03-23 12:53] #71 closed

[2018-03-23 12:53] Aenima4six2 commented on #69
Issue fixed in 3.1.0.

[2018-03-23 12:53] #69 closed

[2018-03-27 22:55] andela-sjames commented on #71
@Aenima4six2 can't find the `.jar` file for the new release?

[2018-03-28 01:51] Aenima4six2 commented on #71
@andela-sjames Looks like Travis had an issue pushing the jar. I'm re-running CI/CD for this release.

Fixed -> [Release](https://github.com/graylog-labs/graylog-plugin-slack/releases/download/3.1.0/graylog-plugin-slack-3.1.0.jar)

[2018-03-28 07:04] BrainsRage commented on #71
Fixed, thanks!

[2018-03-28 13:47] andela-sjames commented on #71
Thanks

[2018-04-20 23:32] rdhand-wish commented on #42
I am having the same issue after Slack plugin worked for a while. Unfortunately I am not in a position to switch to new slack channel. Is there any way to fix this issue?

[2018-04-23 12:19] Aenima4six2 commented on #42
@rdhandwish Fixing the issue depends on where the problem lies. I'm skeptical at this point its the plugin, but I'm happy to further diagnose if you can provide some additional information.

1. Slack Plugin Version
2. Base web hook URI you are using
3. Alert configuration you are testing with.
4. Graylog version.
5. Errors or stack traces produced in logs.

[2018-04-27 22:02] rdhand-wish commented on #42
Thank you for the update. The issue seems to be with Slack. When the admin who created the private Slack channel leaves the channel, alerts stop going to the channel. When the admin is re-invited back to the Slack channel, alerts start showing up as normal.

[2018-05-04 20:23] joeomc opened #74 "backlog in reverse order"
When iterating over backlog, messages appear in reverse order.  The most recent message is first (reading top down) and the first messages is last.  For example, I have a condition that triggers when a network interface state changes.  When the interface goes down, then back up the messages in the backlog will be ordered with the up message printed before the down message.

Custom Message:
Last me

[2018-06-15 19:42] salt-lick opened #76 "@channel does not link names"
The setting is on:
<img width="588" alt="screen shot 2018-06-15 at 2 38 14 pm" src="https://user-images.githubusercontent.com/3297736/41486369-d4327b9c-70a9-11e8-9dc0-9b69f69cf9c0.png">
the @channel gets thrown in but is not linked.
<img width="452" alt="screen shot 2018-06-15 at 2 37 33 pm" src="https://user-images.githubusercontent.com/3297736/41486375-db3a5d88-70a9-11e8-95cf-06ad750d0bb7.png">

[2018-06-22 12:50] ghost opened #77 "JMTE formatting upprecase"
Hi! Can I use JMTE formatting to send field content in uppercase?
I've tried in this way ${message.source;string(uppercase)} but it doesn't work. The content is sent as is. No errors.
My env:
graylog-server             2.4.5-1
graylog-plugin-slack    3.0.0
Thanks.

[2018-08-21 08:15] arobertpk opened #79 "Option to send alert message without preamble?"
Hello,

I have a custom message for an ALERT (not an OUTPUT) configured as shown:

![capture1](https://user-images.githubusercontent.com/39757610/44389354-46877e00-a533-11e8-9b20-dd7277972ce4.PNG)

However when this gets over to Slack I get:

![capture2](https://user-images.githubusercontent.com/39757610/44389374-556e3080-a533-11e8-9c13-a47c27f4b958.PNG)

Is there an option to exclude all of that

[2018-08-21 08:33] arobertpk opened #80 "Short mode excludes custom message, would rather it excluded default"
Even if you enable "Short mode" for an output notification, it ignores the custom message and just feeds the stream message directly.  Could it include just the CUSTOM message if set, or just the raw original message if unset instead?

[2018-10-05 12:50] eduault opened #81 "It is not possible to authenticate to the proxy using a username and a password"
A need to specify username and a password to the the HTTP proxy of my company.

But this plugin don't take into account the username and the password specified in the proxy URI:
`https://username:password@ip:port`

This code should be included in the SlackClient.send(SlackMessage message) method:

[code]

The user and password being included in the user-info of the URI.
See https://docs.oracle.com

[2018-10-05 13:19] jalogisch commented on #81
a PR that includes this is very welcomed.

[2018-12-20 23:44] danielpsf opened #82 "Github API Key should not be part of the build descriptor file"
https://github.com/graylog-labs/graylog-plugin-slack/blob/dbfa16853b1310327090e7f676bbf68c069c578c/.travis.yml#L18

[2018-12-20 23:47] #82 closed, assigned to nobody

[2019-01-13 19:04] pwaldhauer opened #83 "Could not send message to Slack."
Could you please help me debugging this issue? I cannot see any more information in the logs.

Newest Plugin version, Graylog 3 beta

[2019-01-22 09:07] PaulMHalliwell commented on #79
I'd also like to see this.

The information that I'm looking to output is in the custom message, rendering the trigger condition text moot. If there was a way to push only the custom message that'd be ideal.

[2019-02-12 09:50] TaufiqSuradi opened #84 "Cannot find the .jar file this plugin."
I can't seem to find any .jar file in this plugin.

[2019-02-12 10:37] mariussturm commented on #84
You can find them under `Releases` see https://github.com/graylog-labs/graylog-plugin-slack/releases

[2019-02-12 10:37] #84 closed, assigned to nobody

[2019-02-13 02:48] TaufiqSuradi commented on #84
How do I download it onto Centos?

[2019-05-13 17:25] Ataraxxia opened #85 "Add option to send without channel defined"
In the most recent version of mattermost + Graylog 3 I am not able to send notification, not even test. I have pinned down the problem down to getting 404 on my Nginx reverse proxy pointing to mattermost server. I need to mention that I have other incoming webhooks working just fine.

In the current version of mattermost, webhook can be defined with predetermined and locked channel, and I have win

[2019-05-14 10:01] tekaeren commented on #83
Same issue on my setup

[2019-05-21 07:47] Ataraxxia commented on #85
Proposed a pull request:

https://github.com/graylog-labs/graylog-plugin-slack/pull/86

[2019-05-22 14:21] aeroastro opened #87 "Option to preformat messages by wrapping it with triple backquotes"
## Summary

Since log messages often contains special characters in markdown, I would like to forward messages in code blocks.

(NOTE: This is an example for GitHub flavored markdown, and we need to use different format for Slack.)

## Background

I am using Slack now, and this Plugin is really useful to forward messages. I am mainly using the plugin to send some error messages to Slack.

The prob

[2019-07-26 13:50] luciano-coder opened #88 "Not possible to create Permalink for backlog messages"
Hi,

I'm trying to create a Permalink in the alert message but it's currently not possible because the `index` field is not made available to the Slack message builder.

**Example Permalink**
https://graylog.mydomain.com/messages/graylog_1/8808d761-afab-11e9-87f9-023d32ba1fd0

* `graylog_1` is the `index` which contains the message (**missing**)
* `8808d761-afab-11e9-87f9-023d32ba1fd0` is the `id`

[2019-07-26 19:07] luizgustavo77 commented on #83
My Graylog does not have SSL and won`t send either slack alerts or test.
![erro_graylog](https://user-images.githubusercontent.com/38074380/61975441-82d32200-afbf-11e9-9c95-f8bbdb78db55.png)

[2019-09-06 07:39] jalogisch opened #89 "update Plugin to work with new Notification/Alert System in Graylog 3.1"
This Plugin needs to be updated to work with the new alerting/notification system.

[2019-09-24 14:54] jozefbarcin commented on #89
is not working with Graylog 3.1.2 as well: `Legacy alarm callbacks are deprecated. Please switch to the new notification types as soon as possible!`

[2019-09-26 11:03] tabascoterrier commented on #89
I'm sorely tempted to have a go at this, it would be extremely useful for us (the existing version seems to duplicate some backlog items in 3.1).

This would be my first foray into Graylog development, is there an example 3.1 alert plugin that anyone can point me at?

[2019-09-26 11:24] bernd commented on #89
@tabascoterrier That would be awesome! :smiley:

There is no external plugin yet but you can take a look at the HTTP event notification in the server repository. All the internal notifications are implemented as plugins as well:

- [HTTPEventNotification.java](https://github.com/Graylog2/graylog2-server/blob/master/graylog2-server/src/main/java/org/graylog/events/notifications/types/HTTPEventNotif

[2019-09-26 12:13] tabascoterrier commented on #89
Thanks @bernd, I'll have a look!

[2019-10-09 20:34] sboeingSPA commented on #89
As i had the same problem i simply wrote a new slack plugin for graylog 3.1 using the new notification system.
As the code significantly changed i created it as a new project instead of a merge request.

https://marketplace.graylog.org/addons/d87f19f5-4a91-4099-8179-c4700b6c8f6d
https://github.com/sportalliance/graylog-plugin-slack-notification

[2019-10-24 09:01] radykal-com commented on #89
Is anyone working on this? If not I will take care of it as I really need it

[2019-10-24 11:03] bernd commented on #89
@radykal-com Feel free to work on this! :smiley: Thank you! :+1:

[2019-10-24 11:49] sboeingSPA commented on #89
@radykal-com I would recommend you the plugin I wrote and mentioned three comments above.
Only the support of matterhorn has been dropped but slack is working the same way as in this plugin

[2019-10-27 13:27] radykal-com commented on #89
@sboeingSPA why dont contribute your changes back to the original plugin? Its much easier to maintain one plugin instead of 2 different ones that actually are doing the same.

[2019-11-01 06:58] sboeingSPA commented on #89
Because all the code of the original plugin is deprecated. Meaning i would deleted all of it and replace it with new one. But the original plugin currently supports Mattermost which i don't know and don't want to explicitly support and test.

Also this project looks quite unmaintained to me. The last release is more than a year old and there are merge requests no one takes care of.

[2019-11-04 07:51] Aenima4six2 commented on #89
@sboeingSPA Please feel free to submit your work as a PR, regardless how much code you changed. I do my best to check in on this repo from time to time for critical issues, but I have a full time career not affiliated with Graylog and a family. There is only so much time I can contribute. If you would like to take over repository maintenance, I’m happy to pass the torch.

[2019-11-04 11:19] bernd commented on #89
@sboeingSPA @Aenima4six2 Thanks folks for taking care! :+1:

We don't need to delete the legacy plugin. I think it's good to keep it until everyone migrated off to the new event notification. So it would be enough to just add the new event notification code to the existing structure.

[2019-11-12 09:04] sboeingSPA commented on #89
@bernd @Aenima4six2 i will take another look into it the next weeks during my vacation

[2020-01-14 17:19] laramackey commented on #83
Im getting the same problem and can't see anything I tail the logs - did any of you figure out what the issue was?

![image](https://user-images.githubusercontent.com/46765135/72357351-ba0acc00-36e2-11ea-936a-d77b6ecfdcc8.png)

[2020-01-14 18:39] laramackey commented on #83
Got this working - so to help anyone else I had to import the root CA and SSL Cert for slack.com in to the jvm trust store using
`keytool -importcert -keystore /etc/graylog/server/cacerts.jks -storepass *********** -file slack.pem`
as defined https://docs.graylog.org/en/3.1/pages/configuration/https.html#adding-a-self-signed-certificate-to-the-jvm-trust-store

[2020-02-18 10:29] Bacto commented on #89
Hi everyone,

Any news on this? We miss this plugin in Graylog :-/

[2020-03-10 20:04] ben-rainville opened #90 "Test working. Will not allow create with only Webhook URL"
I've setup and configured Slack integration using a webhook URL.  I am getting successful test messages in the channel when I click "Execute Test Notification".  When I try to click the "Create" button I get the message "Please fill out this field." for the Slack Token.  I do not need a slack token.  I do not plan on using any buttons.  We have also restricted our graylog website to VPN access onl

[2020-03-10 20:07] ben-rainville commented on #90
I tried null values, and spaces in the slack token.  I also tried setting up a slack token for the integration.  All values in the slack token break the test as my graylog api is not publicly available.

[2020-04-23 22:18] rroseselavy42 commented on #90
encountering same issue with Mattermost

[2020-07-24 11:19] rlagmlah opened #91 "Discord 403 error"
I used a slack compatible discord webhook, but got an'Unexpected HTTP response status 403' error.

This is graylog error.

[code]

And this is the setting.

<img width="436" alt="1" src="https://user-images.githubusercontent.com/60001225/88385867-2ed56600-cdea-11ea-9b91-7257a899bea1.PNG">

[2020-09-10 16:41] kierad commented on #15
[SlackMessageOutput](https://github.com/graylog-labs/graylog-plugin-slack/blob/master/src/main/java/org/graylog2/plugins/slack/output/SlackMessageOutput.java)  (which seems to represent a Slack channel) has a single stream field. This does not align with the common usage, where multiple streams are pointed to a single Slack channel. It would be great to find a solution to this.

[2020-10-14 19:06] webmastir commented on #79
Did anyone fork this and remove the preamble?

[2020-10-20 03:46] mr-pmillz opened #92 "Can't Tag Users in Slack by their Slack ID's or People who have spaces in their @firstname Lastname"
What is the proper way to link users by their slack ID's

I've tried @XXXXXXX which doesn't work,
Going to try
<@XXXXXXXX> tomorrow to see if that works as that is the slack json template format I've used before which seemed to work. I'll update this issue if it works. once i find out tomorrow.

Also, how to tag users that have a space in their slack human readable name?
for example,
doing @John S

[2020-10-20 03:50] mr-pmillz commented on #92
I just tested it and <@xxxxxxxx> works!
would be useful if that information was included in the readme or docs for this project somewhere.
Okay closing issue.
Again, thanks for building this awesome plugin! :)

[2020-10-20 03:50] #92 closed, assigned to nobody

[2020-11-23 16:30] iaas365-dev commented on #90
Me too, unable to use slack notifications just for this issue :-(

Graylog version is 4.0.0 (Noir) released at 2020-11-18T00:00:00.000Z

[2021-03-10 06:02] gaurang12041999 opened #93 "Add log message from the GrayLog to Slack"
I have set up the plugin in Graylog and created Alert using that. And I am successfully able to get the Alert message.
But I want to post the actual log into the slack.

Suppose if my log is "Internal server error. The object doesn't contain  `xyz` field". Then I want to add that log into the slack post as well. It can be any log. And also want to add a partial message in the slack post.

I have t

[2021-05-05 09:18] whopif opened #94 "Plugin load but i can see on ihm"
Hello,
I don't see on the interface, nor in the notifications the plugin, I need help please

![image](https://user-images.githubusercontent.com/83698647/117119770-ce208400-ad92-11eb-8c4b-1db3193a6b7e.png)
INFO  [CmdLineTool] Loaded plugin: AWS plugins 4.0.2 [org.graylog.aws.AWSPlugin]
INFO  [CmdLineTool] Loaded plugin: Collector 4.0.2 [org.graylog.plugins.collector.CollectorPlugin]
INFO  [CmdLine

[2021-05-13 20:16] komodin commented on #94
Hi, same behavior here.

[2021-12-06 12:30] louwrentius opened #95 "Warning: this plugin uses the Legacy Alarm Callbacks mechanism which is (almost) deprecated"
The last commits are 3+ years ago, so I consider this plugin abandoned, unless the developers state otherwise and update the plugin.

[2021-12-26 02:07] #73 closed

[2022-07-05 13:29] vasilen-co opened #96 ""Output type is not supported" after upgrading to Graylog 4.3.2"
After upgrading docker image from Graylog 4.2.3 to 4.3.2 the [Slack plugin 3.1.0](https://github.com/graylog-labs/graylog-plugin-slack/releases/download/3.1.0/graylog-plugin-slack-3.1.0.jar) stopped to work and configuration is not available from Graylog UI.

<img width="1126" alt="image" src="https://user-images.githubusercontent.com/6547244/177338827-e09c6193-3229-47f7-a0d4-d56e45de1593.png">

E